body{
background-image: url("../images/golf_bg.jpg");
font-family: garamond;
}

.navbar{
  width:20%;
  height: 100px;
  border-right:10;
  border-style:ridge ridge ridge none;
  vertical-align: text-top;
  text-align:left;

}

.navbar ul{

padding:40px;
}

.navbar ul li{
  list-style-position: inside;
  list-style-image: url("../images/flag.gif");
  }

.content ul li{

  list-style-type: none;
}

.main{

  width:100%;
}

.header{
color:darkblue;
text-align: center;
padding:30px;
width:100%;
}

.content{
padding:30px;
  text-align: center;
  width:65%;
}

.footer{

  text-align: center;

}
